<mat-card>
    <mat-card-title>
        <div class="name"><b>{{provider.name}}</b></div>
    </mat-card-title>
    <mat-card-content>
    <div class="address">
        <app-info-card icon="home"
                       [content]="provider.address"
                       actionIcon="location_on"
                       (action)="redirectToMap(provider.id)">
        </app-info-card>
    </div>
    <app-info-card icon="local_phone"
                   [content]="provider.telephone"
                   actionIcon="call">
    </app-info-card>
    <app-info-card icon="business"
                   [content]="provider.fax">
    </app-info-card>
    </mat-card-content>
</mat-card>