
<div class="container">
  <form>
    <mat-form-field>
      <input #nameInput matInput placeholder="Title"/>
    </mat-form-field>
    <mat-select placeholder="Type">
      <mat-option *ngFor = "let type of types">
          {{type}}
      </mat-option>
    </mat-select>
    <mat-form-field>
      <input #nameInput matInput placeholder="Description"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Choose date"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>