.container {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 3vh;
}

mat-form-field {
    width: 90vw;
}

.input-file {
    display: block;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.pending-msg {
    text-align: center;
    background-color: #1fc584;
    padding-top: 5px;
    padding-bottom: 5px;
}

.file-attach {
    padding-top: 10px;
}