.container {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 5vh;
}

.date {
    margin-bottom: 20px;
}

.status {
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    margin-top: 30px;
}

mat-form-field {
    width: 90vw;
    margin-top: 30px;
    margin-left: 5vw;
}