<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<body>
<div layout:fragment="body">
    <form action="#" th:action="@{/event/save}" th:object="${insuranceType}" method="post">
        <div class="subheader">
            <div class="title">Add Event</div>
            <a th:href="@{/insurance-type}"><div class="button cancel-btn">Cancel</div></a>
            <input type="submit" value="Save" class="button save-btn"/>
        </div>
        <table class="form-table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><div class="field-label">Title</div></td>
                <td><div><input type="text" name="summary" class="field-input" required/></div></td>
            </tr>
            <tr>
                <input type="hidden" name="allDay" value="checked">
                <td><input type="checkbox" id="allDayCb" name="allDay"> All Day</td>
            </tr>
            <tr>
                <td><div class="field-label">Start</div></td>
                <td><div><input type="text" name="start" id="start-dt" class="field-input datetimepicker" required></div></td>
            </tr>
            <tr>
                <td><div class="field-label">End</div></td>
                <td><div><input type="text" name="end" id="end-dt" class="field-input datetimepicker" required></div></td>
            </tr>
        </table>
    </form>
    <script>
        $(document).ready( function () {
            isAllDay = false;
            $('#start-dt').datetimepicker();
            $('#end-dt').datetimepicker();

            $('#allDayCb').on("click", function(){
                isAllDay = !isAllDay;
                if (isAllDay) {
                    $('#start-dt').datetimepicker({
                        timepicker: false
                    });
                    $('#end-dt').datetimepicker({
                        timepicker: false
                    });
                } else {
                    $('#start-dt').datetimepicker({
                        timepicker: true
                    });
                    $('#end-dt').datetimepicker({
                        timepicker: true
                    });
                }
            });
        });
    </script>
</div>
</body>

</html>