<div class="pending-msg" *ngIf="pendingMessage && !requestConfirm">
  <span>Terdapat {{pendingRequests}} request yang belum terkirim</span>
</div>

<div class="container" *ngIf="!requestConfirm">
    <mat-form-field>
      <input #nameInput matInput placeholder="Judul" [(ngModel)]="requestTitle"/>
    </mat-form-field>

    <mat-form-field>
      <input #nameInput matInput placeholder="Keterangan" [(ngModel)]="requestDescription"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pilih Tanggal" [(ngModel)]="requestDate"
             [matDatepicker]="picker" (click)="picker.open()" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <nouislider name="slider" [config]="sliderConfig" [(ngModel)]="sliderValue"></nouislider>

    <div class="input-file">
      <label for="file-input">Upload bukti (opsional)</label>
      <input #fileInput id="file-input" hidden type="file" (change)="fileChange($event)" placeholder="Upload bukti (opsional)">
      <div  class="file-attach">
      <button mat-fab>
        <mat-icon (click)="fileInput.click()">add</mat-icon>
      </button>
      <span>{{fileName}}</span>
      </div>
    </div>

    <div class="buttons">
      <button mat-raised-button (click)="confirmRequest()">Submit Pengajuan Request</button>
    </div>
</div>

<div class="container" *ngIf="requestConfirm">
    <mat-card>  
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            Judul
          </div>
          <div class="status-item">
            {{requestTitle}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            Keterangan
          </div>
          <div class="status-item">
            {{requestDescription}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            Dari
          </div>
          <div class="status-item">
            {{start}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            Sampai
          </div>
          <div class="status-item">
            {{end}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="requestAttachments">
        <div class="status">
          <div class="status-title">
            File Attachment
          </div>
          <div class="status-item">
            {{requestAttachment.name}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="buttons">
          <button mat-raised-button (click)="submitRequest()">Confirm</button>
          <button mat-raised-button (click)="confirmRequest()">Cancel</button>
        </div>
      </mat-card-content>
    </mat-card>

</div>