.search-bar {
    width: 65vw;
    height: 35px;

    border: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);

    background: #fcfcfc;
    text-indent: 10vw;
}

.search .icon-search{
    line-height: 35px;
    left: 9vw;
    top: 5px;
    position: relative;
    font-size: 18px;
}

.search .icon-cross {
    line-height: 35px;
    left: 85vw;
    top: 13px;
    position: absolute;
    font-size: 18px;
}