.container{
    width: 94vw;
}
.name{
    font-size: 6vmin;
    line-height: 55px;
    border-bottom: 1px solid #ccc;
    margin-left: 5vw;
    margin-top: 20px;
}
.information{
    width: calc(94vw - 30px);
    margin-left: 5vw;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.information .item{
    font-size: 4vmin;
    margin-top: 7px;
    margin-bottom: 7px;
}
.information .item .title, .information .item .value{
    display: table-cell;
    vertical-align: top;
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.information .item .title{
    width: 30vw;
    color: #888;
    margin-right: 5px;
}
.information .item .value{
    width: calc(70vw - 30px);
    padding-left: 10px;
}
.contact {
    margin-left: 5vw;
    width: 90vw;
    height: 60px;
    font-size: 4vmin;
    letter-spacing: 1px;
    margin-bottom: 5vh;
    line-height: 60px;
}
