<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<body>
<div layout:fragment="body">
    <form action="#" th:action="@{/user/save}" th:object="${user}" method="post">
        <div class="subheader">
            <div class="title">Add User</div>
            <a th:href="@{/user}"><div class="button cancel-btn">Cancel</div></a>
            <input type="submit" value="Save" class="button save-btn"/>
        </div>
        <table class="form-table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><div class="field-label">Name</div></td>
                <td><div><input type="text" th:field="*{name}" class="field-input" required/></div></td>
            </tr>
            <tr>
                <td><div class="field-label">Role</div></td>
                <td>
                    <div>
                        <select id="role" class="form-control" name="roleId">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><div class="field-label">Username</div></td>
                <td><div><input type="text" th:field="*{username}" class="field-input" required/></div></td>
            </tr>
            <tr>
                <td><div class="field-label">Email</div></td>
                <td><div><input type="email" th:field="*{email}" class="field-input" required/></div></td>
            </tr>
            <tr>
                <td><div class="field-label">Phone</div></td>
                <td><div><input type="text" th:field="*{phone}" class="field-input" required/></div></td>
            </tr>
            <tr>
                <td><div class="field-label">Password</div></td>
                <td><div><input type="password" th:field="*{password}" class="field-input" required/></div></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>