<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>ESS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <form th:action="@{/logout}" method="post" id="logout"></form>
    <div class="desktop">
        <img th:src="@{/image/logo.png}" class="logo">
        <i class="fa fa-sign-out pull-right logout-icon" aria-hidden="true"></i>
        <div class="side-bar">
            <a th:href="@{/insurance-type}"><div th:classappend="${currPage} == 'insurance-type' ? 'menu active' : 'menu'">Insurance Type</div></a>
            <a th:href="@{/provider-type}"><div th:classappend="${currPage} == 'provider-type' ? 'menu active' : 'menu'">Provider Type</div></a>
            <a th:href="@{/request-type}"><div th:classappend="${currPage} == 'request-type' ? 'menu active' : 'menu'">Request Type</div></a>
            <a th:href="@{/provider}"><div th:classappend="${currPage} == 'provider' ? 'menu active' : 'menu'">Provider</div></a>
            <a th:href="@{/contact}"><div th:classappend="${currPage} == 'contact' ? 'menu active' : 'menu'">Contact</div></a>
            <a th:href="@{/file-management}"><div th:classappend="${currPage} == 'document' ? 'menu active' : 'menu'">Document</div></a>
            <a th:href="@{/leave-request}"><div th:classappend="${currPage} == 'leave-request' ? 'menu active' : 'menu'">Leave Request</div></a>
            <a th:href="@{/role}"><div th:classappend="${currPage} == 'role' ? 'menu active' : 'menu'">Role</div></a>
            <a th:href="@{/user}"><div th:classappend="${currPage} == 'user' ? 'menu active' : 'menu'">User</div></a>
        </div>
    </div>
    <div class="mobile">
        <i class="fa fa-bars menu-btn fa-2x" id="toggle-btn" aria-hidden="true"></i>
        <center>
            <img th:src="@{/image/logo.png}" class="logo">
        </center>
    </div>
</header>
<div class="side-bar mobile">
    <a th:href="@{/insurance-type}"><div th:classappend="${currPage} == 'insurance-type' ? 'menu active' : 'menu'">Insurance Type</div></a>
    <a th:href="@{/provider-type}"><div th:classappend="${currPage} == 'provider-type' ? 'menu active' : 'menu'">Provider Type</div></a>
    <a th:href="@{/request-type}"><div th:classappend="${currPage} == 'request-type' ? 'menu active' : 'menu'">Request Type</div></a>
    <a th:href="@{/provider}"><div th:classappend="${currPage} == 'provider' ? 'menu active' : 'menu'">Provider</div></a>
    <a th:href="@{/contact}"><div th:classappend="${currPage} == 'contact' ? 'menu active' : 'menu'">Contact</div></a>
    <a th:href="@{/file-management}"><div th:classappend="${currPage} == 'document' ? 'menu active' : 'menu'">Document</div></a>
    <a th:href="@{/leave-request}"><div th:classappend="${currPage} == 'leave-request' ? 'menu active' : 'menu'">Leave Request</div></a>s
    <a th:href="@{/role}"><div th:classappend="${currPage} == 'role' ? 'menu active' : 'menu'">Role</div></a>
    <a th:href="@{/user}"><div th:classappend="${currPage} == 'user' ? 'menu active' : 'menu'">User</div></a>
</div>
<script>
    $(document).ready( function () {
         $('#toggle-btn').click(function(){
           $('.side-bar').toggle("slide", { direction: "left" }, 300);
         });
         $(window).resize(function () {
            var windowWidth = $(window).width();
            if (windowWidth > 1025) {
                $(".side-bar").hide();
            }
         });
         $('.logout-icon').click(function(){
            $('#logout').submit();
         });
    });
</script>
<section layout:fragment="body" class="custom-container">

</section>
</body>
</html>