<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<body>
<div layout:fragment="body">
    <div class="col-md-12 main-content">
        <a th:href="@{/file-management/create}" class="btn btn-success add-btn">Upload File</a>
        <h1>Documents:</h1>
        <table id="fileTable" border="0" class="table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="file : ${files}">
                    <td th:text="${file.title}"></td>
                    <td th:text="${file.year}"></td>
                    <td th:text="${file.category == 'pkb' ? 'PKB' : 'SK/SE'}"></td>
                    <td>
                        <a th:href="@{/file-management/download/{id}(id=${file.id})}">
                            <button class="btn btn-xs" specification="button">
                                <span class="fa fa-download"></span>
                            </button>
                        </a>
                        <a th:href="@{/file-management/edit/{id}(id=${file.id})}">
                            <button class="btn btn-xs" specification="button">
                                <span class="fa fa-edit"></span>
                            </button>
                        </a>
                        <button class="btn btn-xs" specification="button" th:onclick="'showModalDelete(&quot;'+@{/file-management/delete/{id}(id=${file.id})}+'&quot;)'">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modalDelete" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Confirm</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure want to delete this?</p>
                </div>
                <div class="modal-footer">
                    <form id="modalDeleteForm">
                        <input type="submit" value="Yes" class="btn btn-success">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready( function () {
             $('#fileTable').DataTable();
        });
        function showModalDelete(url){
            $('#modalDelete').modal('show');
            $('#modalDeleteForm').attr('action', url);
        }
    </script>
</div>
</body>

</html>