.custom-container{
    width: calc(100vw - 200px);
    position: relative;
    left: 200px;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
.menu-btn{
    float: left;
    line-height: 50px;
    margin-left: 30px;
}
.side-bar{
    height: 100vh;
    position: fixed;
    background-color: #2986c2;
    z-index: 10000;
    width:200px;
    margin-right: 200px;
}
.menu{
    width: 100%;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    height: 50px;
    line-height: 50px;
}
.menu:hover, .active{
    color: #fff;
    border-bottom: 2px solid #F79310;
}
h1{
    font-size: 27px;
    padding-bottom: 15px;
}
header{
    background-color: #2986c2;
    height: 50px;
    line-height: 50px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.logo{
    height: 20px;
    line-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.subheader{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #F2F5FA;
    text-align: right;
    margin-right: 80px;
}
.subheader .button{
    border: 0;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}
.subheader .title{
    float: left;
    color: #0071BC;
    margin-left: 80px;
    font-size: 20px;
}
.cancel-btn{
    background-color: #A1B8C4;
}
.save-btn{
    background-color: #F79310;
}
.cancel-btn:hover{
    background-color: #BDBDBD;
}
.save-btn:hover{
    background-color: #F57C00;
}
.add-btn, .import-btn{
    margin-top: 20px;
    float: right;
}
.import-btn{
    margin-left: 20px;
}
.field-label{
    color: #212121;
    letter-spacing: 1px;
    font-size: 15px;
    margin-right: 25px;
}
.field-input{
    border: 0;
    border-bottom: 1px solid #A1B8C4;
    width: 400px;
    height: 35px;
    padding-left: 5px;
}
.field-input-2{
    border: 0;
    border-bottom: 1px solid #A1B8C4;
    width: 190px;
    height: 35px;
    padding-left: 5px;
    margin-right: 10px;
}
input.field-input:focus, textarea:focus, input.field-input-2:focus {
    outline-width: 0;
    border-bottom: 1px solid #F79310;
}
.form-table{
    margin-top: 20px;
    margin-left: 150px;
}
.form-table td{
    padding-bottom: 30px;
}
.main-content{
    margin: 0 auto;
}
.field-textarea{
    height: 80px;
}
.fa-cog{
    color: #fff;
}
.fa-cog:hover, .icon-active{
    color: #F79310;
}
.delete-icon{
    color: #D32F2F;
}
.logout-icon{
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    display: inline-block;
    margin-right: 10px;
}
.checkbox-label{
    font-weight: normal !important;
}

@media screen and (max-width: 1025px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .side-bar{
        display: none;
        height: 100vh;
        position: fixed;
        background-color: #2986c2;
        z-index: 10000;
        width:200px;
    }
    .menu{
        display: block;
        line-height: 30px;
        padding-bottom: 15px;
        padding-top: 15px;
        color: #fff;
        padding-left: 30px;
    }
}
.container{
    background-color: #1773C7;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.login-col{
    transform: translateY(80%);
}

.panel{
    border-radius: 0px !important;
}

.field-container{
    padding-bottom: 10px;
}

.field-container input{
    width: 85%;
    border: 0;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #888;
}

.field-container input:focus{
    outline: none;
    border-bottom: 2px solid #3DBEEE;
}

.field-container i{
    font-size: 17px;
    color: #2986C2;
    margin-right: 10px;
}

.login-button{
    width: 150px;
    border-radius: 28px/64px;
    background: #6bbb26 !important;
}

.panel-body{
    padding: 0px !important;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.panel-heading{
    background-color: #fff !important;
}

input::placeholder{
    color: #999;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

