<mat-card>
  <mat-card-content>
    <div class="status">
      <div class="status-title">
        Nama
      </div>
      <div class="status-item">
        {{inputStatus.user.name}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="status">
      <div class="status-title">
        Judul
      </div>
      <div class="status-item">
        {{inputStatus.title}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="status">
      <div class="status-title">
        Keterangan
      </div>
      <div class="status-item">
        {{inputStatus.description}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="inputStatus.requestType">
    <div class="status">
      <div class="status-title">
        Tipe
      </div>
      <div class="status-item">
        {{inputStatus.requestType.name}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="inputStatus.eventDate">
    <div class="status">
      <div class="status-title">
        Tanggal
      </div>
      <div class="status-item">
        {{(inputStatus.eventDate | dateFormat)}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="inputStatus.start">
    <div class="status">
      <div class="status-title">
        Dari
      </div>
      <div class="status-item">
        {{(inputStatus.start | dateFormat)}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="inputStatus.startTime">
    <div class="status">
      <div class="status-title">
        Dari
      </div>
      <div class="status-item">
        {{(inputStatus.startTime | dateFormat)}}
      </div>
    </div>
  </mat-card-content>
    <mat-card-content *ngIf="inputStatus.end">
    <div class="status">
      <div class="status-title">
        Sampai
      </div>
      <div class="status-item">
        {{(inputStatus.end | dateFormat)}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="inputStatus.endTime">
    <div class="status">
      <div class="status-title">
        Sampai
      </div>
      <div class="status-item">
        {{(inputStatus.endTime | dateFormat)}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="inputStatus.amount">
    <div class="status">
      <div class="status-title">
        Jumlah
      </div>
      <div class="status-item">
        {{inputStatus.amount}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="buttons">
      <mat-icon class="reject" (click)="submitApproval('reject')">cancel</mat-icon>
      <mat-icon (click)="submitApproval('approve')">check_box</mat-icon>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="!!approvalSubmission">
    <div class="note">
      <mat-form-field *ngIf="approvalSubmission==='reject'"
                      floatPlaceholder="never"
                      class="rejection-note">
        <input #nameInput matInput placeholder="Keterangan" [(ngModel)]="rejectionNote"/>
      </mat-form-field>

      <div class="confirmation" *ngIf="approvalSubmission==='approve'">
        Konfirmasi penyetujuan request?
      </div>

      <mat-icon class="reject" (click)="submitApproval()">close</mat-icon>

      <mat-icon (click)="confirmApproval()">check</mat-icon>

    </div>
  </mat-card-content>
</mat-card>
