@import '../../../../stylesheets/variables';

.search {
  position: relative;
  color: #aaa;
  width: 100%;
}

.search-bar-container {
  background: $color-primary;
  width: 100%;
  display: flex;
}

.search .search-bar {
  flex-grow: 1;
  min-height: 30px;
  background: #fcfcfc;
  margin: 1vh;
  border: 0;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.16), 3px 3px 3px rgba(0,0,0,0.23);
}

span {
  padding-left: 7px;
  padding-right: 7px;
}

.icon-search {
  font-size: 18px;
  vertical-align: middle;
}

.search .icon-cross {
  position: absolute;
  top: 1.8vh;
  left: 89vw;
  font-size: 1.2em;
}

.filter {
  padding-top: .84375em;
  padding-left: 5vw;
  padding-bottom: 10px;
  background-color: white;
}

.filter-container {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
}

mat-form-field {
  width: 85vw;
  padding-top: 0;
}

.mat-input-element {
  color: #000;
}

input {
  width: calc(100% - 10px);
  background: $color-white !important;
}

:host /deep/ .mat-input-underline,
:host /deep/ .mat-input-underline .mat-input-ripple {
  bottom: 0 !important;
}

:host /deep/ .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

:host /deep/ .mat-form-field-infix {
  border-top: 0 !important;
}

#filter-cross {
  position: absolute;
  color: #aac;
  left: 92vw;
  padding-top: 2vh;
}
