<div class="search">
  <div class="search-bar-container">
    <mat-form-field floatPlaceholder="never" class="search-bar">
      <input matInput #searchBar type="text"
            (focus)="onClick(searchBar.value)"
            (input)="doInput(searchBar.value)"
            placeholder="Search">
        <span matPrefix>
          <mat-icon class="icon-search">search</mat-icon>
        </span>
    </mat-form-field>

    <i class="material-icons icon-cross"
        *ngIf="searchToggle"
        (click)="resetSearch()">close</i>
  </div>
  
  <div class="filter-container" *ngIf="searchToggle">
    <div class="filter" *ngFor="let filt of filters">
      <mat-form-field class="filter-input" floatPlaceholder="never">
        <input matInput [(ngModel)]="filt.selectedFilter"
                        (change)="doSelect()"
                        [matAutocomplete]="auto"
                        [placeholder]="filt.title">
        <mat-autocomplete #auto="matAutocomplete"
                          (optionSelected)="doSelect()">
          <mat-option *ngFor="let selection of filter(filt.selection, filt.selectedFilter)" 
                      [value]="selection.name">
            {{selection.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon *ngIf="filt.selectedFilter" 
                  matSuffix 
                  mat-icon-button aria-label="Clear" 
                  (click)="clearSelection(filt)">close</mat-icon>
      </mat-form-field>
    </div>
  </div>

</div>

