<div class="container" *ngIf="!requestConfirm">
    <mat-form-field>
      <input #nameInput matInput placeholder="Deskripsi" [(ngModel)]="eventForm.description"/>
    </mat-form-field>

    <div class="from-to-datepicker">
      <mat-form-field id="datepicker-left">
        <input name="dateFor" matInput placeholder="Dari" [(ngModel)]="eventForm.start"
               [matDatepicker]="pickerFor" (click)="pickerFor.open()"/>
        <mat-datepicker-toggle matSuffix [for]="pickerFor"></mat-datepicker-toggle>
        <mat-datepicker #pickerFor></mat-datepicker>
      </mat-form-field>
      <mat-form-field id="datepicker-right">
        <input name="dateTo" matInput placeholder="Sampai" [(ngModel)]="eventForm.end"
               [matDatepicker]="pickerTo" (click)="pickerTo.open()" />
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </div>

    <button mat-raised-button (click)="confirmRequest()">Tambah Event</button>
</div>

<div class="container" *ngIf="requestConfirm">
    <mat-card>  
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            Deskripsi
          </div>
          <div class="status-item">
            {{eventForm.description}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="eventForm.start">
        <div class="status">
          <div class="status-title">
            Dari
          </div>
          <div class="status-item">
            {{eventForm.start | dateFormat}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="eventForm.end">
        <div class="status">
          <div class="status-title">
            Sampai
          </div>
          <div class="status-item">
            {{eventForm.end | dateFormat}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="buttons">
          <button mat-raised-button (click)="submitRequest()">Confirm</button>
          <button mat-raised-button (click)="confirmRequest()">Cancel</button>
        </div>
      </mat-card-content>
    </mat-card>

</div>