@import '../../../stylesheets/variables.scss';

mat-grid-tile {
    border: 1.5px solid $color-secondary;
    border-radius: 50px;
    color: $color-primary;
}

.menu-icon {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    font-size: 12px;
}

mat-icon {
    font-size: 48px;
    width: auto !important;
}

.greeting-message {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 10px;
    border: 1px solid $color-primary;
    color: $color-primary;
}

.container {
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
}