<div class="container" *ngIf="!requestConfirm">
    <mat-form-field>
      <mat-select placeholder="Type" [(ngModel)]="selectedLeaveType" name="leaveType" (change)="doStuff()">
        <mat-option *ngFor = "let type of leaveTypes" [value]="type">
            {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input #nameInput matInput placeholder="Title" [(ngModel)]="requestTitle"/>
    </mat-form-field>

    <mat-form-field>
      <input #nameInput matInput placeholder="Description" [(ngModel)]="requestDescription"/>
    </mat-form-field>

    <div class="from-to-datepicker" *ngIf="!singleDatepicker">
      <mat-form-field id="datepicker-left">
        <input name="dateFor" matInput placeholder="From" [(ngModel)]="dateFor"
               [matDatepicker]="pickerFor" (click)="pickerFor.open()"/>
        <mat-datepicker-toggle matSuffix [for]="pickerFor"></mat-datepicker-toggle>
        <mat-datepicker #pickerFor></mat-datepicker>
      </mat-form-field>
      <mat-form-field id="datepicker-right">
        <input name="dateTo" matInput placeholder="To" [(ngModel)]="dateTo"
               [matDatepicker]="pickerTo" (click)="pickerTo.open()" />
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="single-datepicker" *ngIf="singleDatepicker">

      <mat-form-field>
        <input matInput placeholder="Pick A Date" [(ngModel)]="dateFor"
               [matDatepicker]="picker" (click)="picker.open()" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <nouislider name="slider" [config]="sliderConfig" [(ngModel)]="sliderValue"></nouislider>
    
    </div>

    <div class="input-file">
      <input type="file" (change)="fileChange($event)">
    </div>

    <button mat-raised-button (click)="confirmRequest()">Submit Request</button>
</div>

<div class="container" *ngIf="requestConfirm">
    <mat-card>  
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            Judul
          </div>
          <div class="status-item">
            {{requestTitle}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            Keterangan
          </div>
          <div class="status-item">
            {{requestDescription}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            Tipe
          </div>
          <div class="status-item">
            {{selectedLeaveType.name}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="dateFor">
        <div class="status">
          <div class="status-title">
            Dari
          </div>
          <div class="status-item">
            {{dateDisplay(dateFor)}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="dateTo">
        <div class="status">
          <div class="status-title">
            Sampai
          </div>
          <div class="status-item">
            {{dateDisplay(dateTo)}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="status">
          <div class="status-title">
            File Attachment
          </div>
          <div class="status-item">
            {{requestAttachments.name}}
          </div>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div class="buttons">
          <button mat-raised-button (click)="submitRequest()">Confirm</button>
          <button mat-raised-button (click)="confirmRequest()">Cancel</button>
        </div>
      </mat-card-content>
    </mat-card>

</div>