.input {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}

input {
    width: 80%;
    margin-left: 5%;
    border: 2px solid black;
    height: 35px;
    box-sizing: border-box;
}

.message {
    width: 100%;
}

.align-right {
    text-align: right;
}

.message-list {
    max-height: 80vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

i {
    font-size: 35px;
    vertical-align: middle;
}
