.input {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}

input {
    width: 90%;
    margin-left: 5%;
    border: 2px solid black;
    height: 60px;
}

.message-list {
    height:60vh;
    overflow: scroll;
}